<a href="https://colab.research.google.com/github/YashBhanushali9/Fundamentals-of-Machine-Learning-/blob/main/Mp%20check.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing the data and taking only 10,000 most frequently words from the total words of 85,000.

In [1]:
from keras.datasets import imdb

(train_data, train_labels), (test_data, test_labels) = imdb.load_data(num_words=10000)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/imdb.npz
17465344/17464789 [==============================] - 0s 0us/step
17473536/17464789 [==============================] - 0s 0us/step

The variables train_data and test_data are lists of reviews, each review being a list of word indices (encoding a sequence of words). train_labels and test_labels are lists of 0s and 1s, where 0 stands for "negative" and 1 stands for "positive":

# Let's see one of the reviews from training data which is in the form of an array of digits.

In [2]:
train_data[786]

[1,
 76,
 17,
 75,
 32,
 119,
 1540,
 2792,
 12,
 16,
 1350,
 8,
 67,
 90,
 11,
 14,
 20,
 6,
 5813,
 5619,
 33,
 4,
 2,
 277,
 7,
 51,
 186,
 8,
 28,
 280,
 77,
 6,
 9133,
 5,
 8161,
 611,
 2792,
 299,
 27,
 173,
 267,
 40,
 35,
 2,
 1445,
 5,
 2,
 316,
 19,
 6,
 484,
 6514,
 5,
 5562,
 2929,
 1191,
 10,
 10,
 4,
 114,
 2,
 46,
 14,
 96,
 5,
 15,
 19,
 38,
 111,
 1888,
 630,
 5,
 2,
 15,
 4,
 330,
 2,
 5,
 95,
 2,
 10,
 10,
 2508,
 5558,
 9,
 50,
 24,
 399,
 76,
 41,
 139,
 19,
 2792,
 26,
 1035,
 5,
 2631,
 254,
 8,
 264,
 36,
 981,
 6,
 176,
 8,
 257,
 85,
 225,
 57,
 1708,
 50,
 10,
 10,
 3384,
 2,
 23,
 4,
 85,
 508,
 3990,
 56,
 4,
 268,
 59,
 16,
 5318,
 5,
 41,
 139,
 19,
 2792,
 71,
 34,
 230,
 4,
 91,
 221,
 11,
 4,
 20,
 21,
 24,
 195,
 8,
 607,
 1540,
 39,
 4467]

# Let's see the label of the above review.

In [3]:
train_labels[786]

0

# So, this is a Negative review as it is labeled as 0.